.connect-form {
  width: 100vw;
  z-index: 1;
  height: 100vh;
  gap: 20px;
  position: absolute;
  background-color: black;
  opacity: 50%;
}

.connect-form-container{
  width: 450px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
  height: 500px;
  gap: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 1;
  border-radius: 5px;
  
}

.connect{
display: flex;
flex-direction: column;
width: 100%;
align-items: center;
justify-content: space-between;
gap : 30px;
}


.item {
  height: 50px;
  border-bottom: 1px solid lightgrey;
  border-radius: 0;
  background-color: white;
}

.connect-btn-2 {
  height: 50px;
  background-color: #017782;
  width: 100%;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-top: 30px;
}

.connect-btn-2:active{
  transform: translateY(1px);
}

.connect-form-page-container{
  width: 600px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  padding: 20px 30px;
  height: 500px;
  gap: 60px;
  border-radius: 5px;
}

.form-page{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.connect-page{
display: flex;
flex-direction: column;
width: 100%;
align-items: center;
justify-content: space-between;
gap : 50px;
}

.message-page{
  display: flex;
  flex-direction: column;
  gap : 15px;
  color : #017782
}

.connect-page h1{
  text-align: center;
  color : black;
  font-size: 28px;
}

.message-page h2{
  font-size: 16px;
}

.connect-page p{
cursor: pointer;
color : #017782
}