.offerPublish {
  background-color: #f5f6f7;
  height: 100%;
  width: 100%;
  padding: 40px;
}

.offerPublish h1 {
  margin-bottom: 20px;
  font-size: 30px;
  color: hsl(185, 98%, 26%);
}

.sell {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: f5f6f7;
  gap: 30px;
}

.sell-image {
  background-color: white;
  border-radius: 10px;
}

.sell-image-border {
  border: 1px dotted lightgrey;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  position: relative;
}

.img-container {
  position: absolute;
  top: 0px;
  left: 100px;
  width: 250px;
}

.preview {
  height: 250px;
  object-fit: cover;
}

#files {
  display: none;
}

.add-picture {
  height: "30px";
  border: solid 1px hsl(185, 98%, 26%);
  cursor: pointer;
  color: hsl(185, 98%, 26%);
  padding: 10px;
}

.sell-home {
  background-color: white;
  height: 180px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}

.sell-home-title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  height: 40%;
  padding : 20px 0;
}

.sell-home-description {
  display: flex;
}

.sell-input {
  width: 70%;
  height: 40px;
  padding: 10px;
  background-color: #f5f6f7;
  border: none;
  border-radius: 0;
  align-self: center;
}

#sell-textarea {
  height: 90px;
  margin-top: 10px;
}



.sell-home-title h3 {
  flex: 1;
}

.sell-home-description h3 {
  flex: 1;
}

.sell-description {
  background-color: white;
  height: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.add-offer {
  width: 300px;
  align-self: center;
  height: 50px;
  cursor: pointer;
  margin-top: 25px;
  border-radius: 10px;
  border : none;
  background-color: hsl(185, 98%, 26%);
  color : white;
  font-size: 16px;

}
