@import "./assets/css/header.css"; 
@import "./assets/css/main.css"; 
@import "./assets/css/article.css";
@import "./assets/css/signup.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  max-width: 1350px;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color : black
}


